<div class="container">
  <div class="form-group d-flex align-items-center gap-2">
    <input
      type="text"
      id="nomeCulto"
      class="input flex-grow-1"
      [(ngModel)]="nomeCulto"
      placeholder="Nome do Culto (Ex: Domingo)*"
    />
    <button class="btn-calendar" (click)="adicionarDataCulto()">📅</button>
  </div>

  <div class="form-group">
    <div class="radio-group">
      <label class="radio-option">
        <input
          type="radio"
          name="tipo"
          value="CELEBRAÇÃO"
          [(ngModel)]="tipoSelecionado"
        />
        Celebração
      </label>
      <label class="radio-option">
        <input
          type="radio"
          name="tipo"
          value="ADORAÇÃO"
          [(ngModel)]="tipoSelecionado"
        />
        Adoração
      </label>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      class="input"
      [(ngModel)]="pessoa"
      placeholder="Pessoa*"
    />
    <input
      type="text"
      class="input"
      [(ngModel)]="nomeMusica"
      placeholder="Nome do Louvor*"
    />
    <input
      type="text"
      class="input"
      [(ngModel)]="cantor"
      placeholder="Cantor (opcional)"
    />
    <div class="form-group">
      <input
        type="text"
        class="input"
        [(ngModel)]="tom"
        placeholder="Tom (opcional)"
      />
      <button class="btn btn-adicionar" (click)="adicionarLouvor()">
        Adicionar
      </button>
    </div>
  </div>

  <div class="d-flex flex-column lista-louvores" *ngIf="repertorio.length > 0">
    <h4 class="text-center">🎵 Louvores Adicionados</h4>

    <!-- CELEBRAÇÃO -->
    <h4 class="text-center">CELEBRAÇÃO</h4>
    <ul>
      <li
        *ngFor="let item of repertorioCelebracao; let i = index"
        class="louvor-item"
      >
        <div class="row w-100">
          <div class="col d-flex align-items-start">
            <span>
              <ng-container *ngIf="item.pessoa">{{ item.pessoa }}</ng-container>
              <ng-container *ngIf="item.nome"> - {{ item.nome }}</ng-container>
              <ng-container *ngIf="item.cantor">
                - {{ item.cantor }}</ng-container
              >
              <ng-container *ngIf="item.tom"> - {{ item.tom }}</ng-container>
            </span>
          </div>
          <div class="col-1 text-end p-0 d-flex justify-content-end">
            <button
              (click)="removerItem(i)"
              class="btn-remover align-self-start"
            >
              ❌
            </button>
          </div>
        </div>
      </li>
    </ul>

    <!-- ADORAÇÃO -->
    <h4 class="text-center">ADORAÇÃO</h4>
    <ul>
      <li
        *ngFor="let item of repertorioAdoracao; let i = index"
        class="louvor-item"
      >
        <div class="row w-100">
          <div class="col d-flex align-items-start">
            <span>
              <ng-container *ngIf="item.pessoa">{{ item.pessoa }}</ng-container>
              <ng-container *ngIf="item.nome"> - {{ item.nome }}</ng-container>
              <ng-container *ngIf="item.cantor">
                - {{ item.cantor }}</ng-container
              >
              <ng-container *ngIf="item.tom"> - {{ item.tom }}</ng-container>
            </span>
          </div>
          <div class="col-1 text-end p-0 d-flex justify-content-end">
            <button (click)="removerItem(i)" class="btn-remover">❌</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="preview" *ngIf="repertorio.length > 0">
    <strong>Prévia da Mensagem:</strong>
    <markdown [data]="mensagemPreview"></markdown>
    <div class="text-center mt-3">
      <button class="btn-whatsapp" (click)="compartilharWhatsApp()">
        <i class="fab fa-whatsapp fa-lg"></i>
      </button>
    </div>
  </div>
</div>
