<div class="container">
  <div class="titulo">
    <h2>🎵RepertórioApp🎵</h2>
  </div>

  <input
    type="text"
    placeholder="Nome da Canção (ex: Tremenda Graça)"
    [(ngModel)]="titulo"
    (keyup.enter)="filtrar()"
  />

  <input
    type="text"
    placeholder="Tema Principal (ex: Adoração)"
    [(ngModel)]="tema"
    (keyup.enter)="filtrar()"
  />

  <input
    type="text"
    placeholder="Subtema (ex: Confiança)"
    [(ngModel)]="subtema"
    (keyup.enter)="filtrar()"
  />

  <button (click)="filtrar()">Buscar</button>
  <button *ngIf="louvoresFiltrados.length" class="btn-clear" (click)="limpar()">
    Limpar Filtros
  </button>

  <button (click)="gerarRepertorio()" style="display: none">
    🎶 Gerar Repertório com IA (baseado na busca)
  </button>

  <div *ngIf="repertorioGerado">
    <h3>Repertório Gerado:</h3>
    <pre>{{ repertorioGerado }}</pre>

    <button class="btn-clear" (click)="limparSugestao()">
      Limpar sugestão
    </button>
  </div>

  <p *ngIf="louvoresFiltrados.length">
    {{ louvoresFiltrados.length }} louvor{{
      louvoresFiltrados.length === 1 ? "" : "es"
    }}
    encontrado{{ louvoresFiltrados.length === 1 ? "" : "s" }}
  </p>

  <p *ngIf="!louvoresFiltrados.length">Nenhum louvor encontrado.</p>

  <button *ngIf="louvoresFiltrados.length" (click)="compartilharTodos()">
    Compartilhar todos os resultados no WhatsApp
  </button>

  <div
    class="card"
    *ngFor="let l of louvoresFiltrados"
    (click)="abrirModalPorTitulo(l.titulo)"
  >
    <h3>{{ l.titulo }}</h3>
    <p><strong>Tom:</strong> {{ l.tom }} | <strong>BPM:</strong> {{ l.bpm }}</p>
    <p><strong>Tema:</strong> {{ l.tema }}</p>
    <p><strong>Subtemas:</strong> {{ l.subtemas }}</p>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="louvorSelecionado" (click)="fecharModal($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="fecharModal($event)">&times;</span>
    <h2 style="word-break: break-word; white-space: normal">
      {{ louvorSelecionado.titulo }}
    </h2>
    <p><strong>Tom:</strong> {{ louvorSelecionado.tom }}</p>
    <p><strong>BPM:</strong> {{ louvorSelecionado.bpm }}</p>
    <p><strong>Tema:</strong> {{ louvorSelecionado.tema }}</p>
    <p><strong>Subtemas:</strong> {{ louvorSelecionado.subtemas }}</p>
    <button class="share-btn" (click)="compartilharWhatsApp(louvorSelecionado)">
      Compartilhar no WhatsApp
    </button>
  </div>
</div>
