:root {
  --bg: #ffffff;
  --text: #111111;
  --primary: #6a0dad;
  --card: #f6f0fa;
  --button-bg: #6a0dad;
  --button-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #424242;
    --text: #f5f5f5;
    --primary: #d6a9ff;
    --card: #303030;
    --button-bg: #b87eff;
    --button-text: #000000;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar {
  background-color: var(--primary-dark, #1e88e5); // ou qualquer cor escura
  color: white;
  font-weight: 500;
  font-size: 0.95rem;
  border-radius: 8px;
  text-align: center;
}
