:root {
  --bg: #ffffff;
  --text: #111111;
  --primary: #6a0dad;
  --card: #f6f0fa;
  --button-bg: #6a0dad;
  --button-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #424242;
    --text: #f5f5f5;
    --primary: #d6a9ff;
    --card: #303030;
    --button-bg: #b87eff;
    --button-text: #000000;
  }
}

body {
  background-color: var(--bg) !important;
  color: var(--text) !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar {
  background-color: var(--primary-dark, #1e88e5); // ou qualquer cor escura
  color: white;
  font-weight: 500;
  font-size: 0.95rem;
  border-radius: 8px;
  text-align: center;
}

.btn-whatsapp {
  background-color: #25d366; // verde oficial do WhatsApp
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 14px;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    background-color: #1ebe5d;
  }
}

.btn-whatsapp2 {
  justify-self: center;
  background-color: #25d366;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #1ebc57;
  }
}
